body {
  font-family: "Poppins" sans-serif !important;

  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
}
#root {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--color-pink);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-lightblue);
}

:root {
  --color-lightblue: rgb(198, 242, 255);
  --color-pink: rgb(255, 211, 198);
}

h1:not(.card-title) {
  font-family: "Poppins", sans-serif;
}
#aboutme {
  margin-top: 100px;
}
#textarea {
  height: 100px;
}
.navbar-toggler {
  color: var(--color-lightblue) !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.803);
  padding: 10px 180px;
}

.nav-link {
  margin: 0 20px;
  padding: 15px;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
}
.nav-link:hover,
.nav-link:focus {
  color: rgba(255, 255, 255, 0.316) !important;
}

.map {
  height: 200px;
  width: 200px;
}

.btn {
  font-family: "Poppins" sans-serif;
  color: rgb(21, 20, 20) !important;
  background: var(--color-lightblue) !important;
}
.btn:hover {
  background-color: white !important;
}
.btn:focus {
  outline: none !important;
  border: none !important;
}
.skills-container {
  padding: 20px 0;
  border-bottom: 1px solid black;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(9, 1fr);
}
.skills-card {
  text-align: center;
  width: 100px !important;
  height: 80px;
}
.card {
  z-index: 1;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cards-container {
  padding: 0 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.landing-page {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  justify-content: center;
}

.left {
  padding-top: 300px;
  padding-left: 250px;
  background: rgb(242, 242, 242);
  color: black !important;
}
.right {
  width: 100%;
}
.left h1 {
  font-weight: bolder !important;
}
.right-wrapper {
  border-bottom: 1px solid rgb(247, 247, 247);
  width: 100%;
  padding-top: 200px !important;
}
.card-img-overlay {
  display: grid;
  place-items: center;
  z-index: 0;
  overflow: auto;
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.95);
}
.card-text {
  font-size: 1.1rem;
}
.img {
  height: 50px;
}

.footer p {
  font-size: smaller;
  color: black !important;
}
.icons {
  height: 30px;
}

.icons:hover {
  opacity: 0.7;
}

#backtotopButton {
  color: black;
  cursor: pointer;
}

.links {
  margin-left: auto !important;
}
input,
textarea {
  background: rgb(223, 242, 248) !important;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1666px) {
  .left {
    padding-left: 100px !important;
  }
}
@media only screen and (max-width: 1400px) {
  .col-xl-6 {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #aboutme p {
    width: 90% !important;
  }
  .landing-page {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .left {
    padding-left: 0 !important;
    text-align: center;
  }
  .left,
  .right {
    width: 100%;
    z-index: 0;
  }
  .right-wrapper {
    position: absolute;
    opacity: 0.7;
    padding-top: 100px !important;
    border-bottom: 0;
    background-color: white !important;
    z-index: 1;
  }
  .left h1,
  h2 {
    font-weight: bolder !important;
  }
  .left {
    z-index: 10;
    padding: 250px 0;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media only screen and (max-width: 992px) {
  #projects {
    width: 80%;
  }
  .links {
    margin: 0 !important;
  }
  .navbar {
    padding: 10px 20px;
  }
  .nav-link {
    text-align: center;
    width: 100%;
    margin: 0;
    transition: all 1s ease;
  }

  .skillsCard {
    margin-top: 2rem !important;
  }
  .cards-container {
    padding: 0;
    grid-template-columns: repeat(1, 5fr);
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
