body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--color-pink);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
}

:root {
  --color-blue: rgb(198, 242, 255);
  --color-pink: rgb(255, 211, 198);
}

#textarea {
  height: 100px;
}
.navbar {
  justify-content: baseline !important;
  border-bottom: 2px solid var(--color-blue);
  transition: all 0.6s ease-in-out;
}
.navbar-scroll {
  transform: translateY(-68px);
  opacity: 0.2;
}
.nav-link {
  color: var(--color-blue);
  padding-left: 1.5rem !important;
  font-size: x-large;
}
.nav-link:hover {
  color: var(--color-pink) !important;
}

.map {
  height: 250px;
  width: 300px;
}

.jumbotron {
  font-family: "Kanit", sans-serif;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(./assets/london-skyline.jpg) !important;
  background-size: cover !important;
  background-position-y: 80% !important;
}
#typed1 {
  color: var(--color-blue);
}
#typed2 {
  color: var(--color-pink);
}

.main-div {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%) !important;
}

.projectCard {
  width: 420px !important;
  border-radius: 0px !important;
  box-shadow: 0 0 15px 2px var(--color-blue) !important;
  transition: transform 0.1s ease-in-out;
}
.card-img-top {
  height: 300px;
  object-fit: contain !important;
}
.projectCard:hover {
  transform: scale(1.01);
}
.btn {
  background-color: var(--color-blue) !important;
}
.btn:hover {
  background-color: white !important;
}
.btn:focus {
  outline: none !important;
  border: none !important;
}
.skillsCard {
  text-align: center;
  width: 100px !important;
  height: 80px;
}

.img {
  height: 50px;
}

.footer p {
  font-size: smaller;
  color: darkgrey !important;
}
.icons {
  height: 30px;
}

.icons:hover {
  opacity: 0.7;
}

#backtotopButton {
  color: black;
  cursor: pointer;
}

#downarrow {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 56%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 300px) {
  .nav-link {
    padding: 0 !important;
    margin: 0 10px !important;
    font-size: 0.8rem !important;
    transition: all 1s ease;
  }
  #downarrow {
    top: 46%;
  }
}
@media only screen and (max-width: 500px) {
  .nav-link {
    padding: 0 !important;
    margin: 0 10px !important;
    font-size: 1.2rem;
    transition: all 1s ease;
  }
  .map {
    width: 200px !important;
    height: 200px;
  }
}

@media only screen and (max-width: 880px) {
  .nav-link {
    padding: 10px 0 !important;
    margin: 0 16px;
    transition: all 1s ease;
  }
  .jumbotron {
    height: 400px;
  }
  .jumbotron h1,
  p {
    text-align: center !important;
  }
  .lead {
    font-size: small !important;
  }

  .skillsCard {
    margin-top: 2rem !important;
  }
  #downarrow {
    position: absolute;
    left: 47%;
    top: 38%;
  }
}

@media only screen and (max-width: 1200px) {
}
