body {
  font-family: "Poppins" sans-serif;

  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
}

#root {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--color-pink);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-lightblue);
}

:root {
  --color-lightblue: rgb(198, 242, 255);
  --color-pink: rgb(255, 211, 198);
  --color-light: rgb(242, 242, 242);
  --color-purple: #232138;
  --color-orange: #ed7b45;
}
.lead {
  font-weight: 400;
}

.sidebar {
  z-index: 99999;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: var(--color-purple);
  padding: 5px 15px;
  border-radius: 40px;
  border: 1px solid white;
}
.sidebar a {
  font-size: 1.5rem !important;
  color: white;
  transition: all 0.5s ease;
}
#textarea {
  height: 100px;
}
.navbar-toggler {
  color: var(--color-purple) !important;
}
.navbar-brand {
  cursor: pointer;
}

.navbar {
  background-color: var(--color-light) !important;
  padding: 5px 180px;
}

.nav-link {
  margin: 0 20px;
  padding: 15px;
  cursor: pointer;
  color: var(--color-purple) !important;
  font-size: 1.2rem;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-orange) !important;
}

.landing-page {
  font-family: "Poppins", sans-serif;
  z-index: 10000;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.left {
  background: url("./assets/Smaller-group.svg");
  background-repeat: no-repeat;
  background-position: 10% 25%;
  color: black !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}
.left,
.right,
.right-wrapper {
  background-color: var(--color-light);
}
.left-content {
  box-sizing: border-box;
  margin-top: 150px;
  margin: 150px 0 0 400px;
  height: 400px;
  width: 60%;
  justify-content: space-around;
}

.cto-buttons {
  cursor: pointer !important;
  text-align: center;
  font-size: 1.3rem;
  padding: 13px 26px;
  border-radius: 30px;
  border: 1px solid var(--color-purple);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.604);
  text-decoration: none;
  color: var(--color-purple);
}
.cto-buttons:hover,
.cto-buttons:focus {
  color: rgba(22, 22, 22, 0.734);
}
#cto-button {
  background: var(--color-orange);
  background: linear-gradient(
    305deg,
    rgba(237, 123, 69, 1) 30%,
    rgba(162, 69, 237, 1) 200%
  );
  font-weight: 500;
  width: 150px;
}
#cto2-button {
  margin-left: 20px;
}

.scroll-btn {
  font-size: 1.2rem !important;
  margin: 0 auto;
  width: 150px;
  cursor: pointer;
  color: black;
  border: none;
  padding-top: 20px;
  color: black !important;
  z-index: 99999999 !important;
  margin-top: -120px;
}
.sidebar a {
  color: #ffffff;
}
.sidebar a:hover {
  color: var(--color-orange);
}

.left,
.right {
  width: 100% !important;
}
.left h1 {
  font-weight: bolder !important;
}

.map {
  height: 200px;
  width: 200px;
}

.btn:focus {
  outline: none !important;
  border: none !important;
}
.skills-container {
  padding: 20px 0;
  border-bottom: 1px solid black;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(9, 1fr);
}
.skills-card {
  text-align: center;
  width: 100px !important;
  height: 80px;
}
.card {
  z-index: 1;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cards-container {
  padding: 0 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card-img-overlay {
  display: grid;
  place-items: center;
  z-index: 0;
  overflow: auto;
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.659);
}
.card-text {
  font-size: 1.1rem;
}
.project-button {
  background-color: var(--color-lightblue);
}
.project-button:hover,
.project-button:focus {
  background-color: rgb(255, 255, 255);
}
.img {
  height: 50px;
}

.footer p {
  font-size: smaller;
  color: black !important;
}
.icons {
  height: 30px;
  transition: opacity 0.3s ease;
}

.icons:hover {
  opacity: 0.3;
}

.backtotop-btn {
  color: var(--color-light);
  cursor: pointer;
}

.links {
  margin-left: auto !important;
}
input,
textarea {
  background: var(--color-light) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#form-btn {
  background-color: white;
}
#form-btn:hover,
#form-btn:focus {
  background-color: rgba(255, 255, 255, 0.741);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1660px) {
  .left-content {
    width: 500px !important;
  }
}
@media only screen and (max-width: 1400px) {
  .nav-links {
    font-size: 2.5rem !important;
  }
  .socials-container {
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    display: none !important;
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #aboutme p {
    width: 90% !important;
  }
  .landing-page {
    height: 600px;
    grid-template-columns: repeat(1, 1fr);
  }
  .left {
    background: none;
    text-align: center;
  }

  .right {
    height: 600px;
  }
  .right-wrapper {
    height: 600px;
    position: absolute;
    border-bottom: 0;
    width: 100%;
    background-color: var(--color-light);
  }
  .right {
    opacity: 0.1;
  }
  .left-content {
    margin-top: 20px !important;
    height: 450px;
    margin: 100px auto;
  }

  .left {
    z-index: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  .socials-container {
    margin-top: 50px;
  }
  .social-links {
    justify-content: center;
    align-items: center !important;
  }
}

@media only screen and (max-width: 992px) {
  .slick-slider {
    width: 85%;
  }

  .links {
    margin: 0 !important;
  }
  .navbar {
    padding: 10px 20px;
  }
  .nav-link {
    margin-top: 50px;
    font-size: 2rem !important;
    text-align: center;
    width: 100%;
    margin: 0;
    transition: all 1s ease;
  }

  .skillsCard {
    margin-top: 2rem !important;
  }
  .cards-container {
    padding: 0;
    grid-template-columns: repeat(1, 5fr);
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-title {
    font-size: 1.2rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .right,
  .left {
    width: 100% !important;
  }
  .left-content {
    margin-top: 50px !important;
    width: 100%;
    height: 70%;
  }
  .skills-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 500px) {
  .cto-buttons {
    width: 100% !important;
  }
  #cto2-button {
    margin-left: 0;
    margin-top: 20px;
  }
  .cto-buttons-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .navbar-brand {
    width: 100px;
  }
}
